/* =========================
   NAVBAR MOBILE ONLY
========================= */

@media (max-width: 768px){

  .nav-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .nav-menu{
    flex-direction: column;
    gap: 16px;
  }

  .nav-btn{
    display: none;
  }
}