@media (max-width: 992px){

  .hero-wrapper{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text p{
    margin-inline: auto;
  }

  .hero-buttons{
    justify-content: center;
  }
}

@media (max-width: 768px){

  .hero-text h2{
    font-size: 4rem;
  }

}