/* =========================
   MOBILE NAVBAR
========================= */

.navbar{

  top:16px;

  left:50%;

  transform:translateX(-50%);

  width:92%;

  padding:18px 20px;

  border-radius:26px;

  background:
  rgba(10,10,10,.82);

  border:
  1px solid rgba(255,255,255,.06);

  backdrop-filter:blur(18px);

  box-shadow:
  0 12px 35px rgba(0,0,0,.35);

}

/* WRAPPER */

.nav-wrapper{

  display:flex;

  flex-direction:column;

  align-items:center;

  justify-content:center;

  text-align:center;

  gap:18px;

}

/* LOGO */

.logo{

  width:100%;

  text-align:center;

  font-size:1.2rem;

  color:white;

  letter-spacing:3px;

}

/* MENU */

.nav-menu{

  width:100%;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:22px;

  flex-wrap:wrap;

  padding:0;

}

.nav-menu li{

  list-style:none;

}

.nav-menu a{

  color:
  rgba(255,255,255,.72);

  font-size:.88rem;

}

.nav-menu a:hover{

  color:white;

}

/* HIDE BUTTON */

.nav-btn{

  display:none;

}